*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: end;

}



.fondo-inicio{
    background-color: rgb(244, 215, 225);
}
.fondo-inicio1{
    background-color: palevioletred;
}
h2{
    letter-spacing: normal;
    font-size: large;
    color: palevioletred;
}

h1{
    text-align: center;
    color: palevioletred;
}
.parrafo-productos{
    display: grid;
   
    position: relative;
    justify-content: space-around;
    margin: 50px;
    width: 80%;;
    gap: 20px;
    

}
.logo{
   display:flex ;
    justify-content: end ;
}

.h1-main{
    display: flexbox;
    justify-content: center;
}

.h1-header{
    display: flex;
    justify-content: end;
    text-align: center;
}  

.titulo{
    text-align:left ;
    color: palevioletred;
    

}



.parrafo-main{
   display: grid;
   position: relative;}



.img-inicio{
   
    width: 50%;
    padding: 20fr;
    margin-right: 50fr;
    margin-left: 100fr;
   display: flexbox;   
   justify-content: center 
}

.main-index{
    display: flexbox;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: palevioletred;
    text-decoration: solid;
    font-size: larger;
    letter-spacing: 5px;
    text-align: center;
    padding: 20fr;
    margin-right: 50fr;
    margin-left: 100fr;
}

.pe{
    background-color: rgb(237, 207, 216);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flexbox;
    padding: 20px;
    justify-content: space-around;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 20px; 
    align-items: center; }

 .image {
    display: flex;
        max-width: 100%;  
        height: auto;  }

 .text{
    font-size: 16px;}

    a:visited{
        color: palevioletred;
        background-color: black;
    }

        